body{
    margin: 10px auto;
    border: 5px solid rgba(0, 0, 0, 0.5);
    text-align: center;
    width: 50%;
}


div{
    color: white;
}


a1{
    background: #08ade9; 
    padding: 3px 10px 3px 10px;
    border-radius: 3px;

}

a2{
    background: #3b5998; 
    padding: 3px 10px 3px 10px;
    border-radius: 3px;
}

a3{
    background: #D44638;
    padding: 3px 10px 3px 10px;
    border-radius: 3px;
}

